:root {
    /* Cores da Paleta Principal */
    --cor-01: #E5E5EA ;
    --cor-02: #FDFDFD;
    --cor-03: #F2CB51;
    --cor-04: #E63946;
    --cor-05: #61442B;
    --cor-06: #1E1E24;
    --cor-07: #FF383C;
    --cor-08: #FAE9B6;

    /* Cores de Fundo (Backgrounds) */
    --fundo-01: #F9E9B7;
    --fundo-02: #FAE9B6;
    --fundo-03: #FFFFFF;

}

 :root {
    /* ARREDONDAMENTO (BORDER RADIUS) Para controlar as bordas dos cards e botões */

    --radius-botao: 8px; 
    --radius-card: 30px;   
    --radius-redondo: 19px;

    

    /* TAMANHO DAS FONTES (FONT SIZES)*/
    --font-principal: 'Poppins', sans-serif;
    --weight-semibold: 660;
    --weight-bold: 700;
    --font-titulo-pagina: 45px;  /* Para o título principal "Meu Perfil" */
    --font-titulo-secao: 22px;   /* Para "Meus Pets", "Meus pedidos de ajuda", etc. */
    --font-titulo-card: 10px;    /* Para o nome da Juliana e nomes dos pets (Slinky, Mel) */
    --font-texto-normal: 16px;   /* Para as descrições, idades dos pets e dados de contato */
    --font-texto-miudo: 12px;    /* Para datas, locais e textos dentro das etiquetas (badges) */

    /* PESO DA FONTE (FONT WEIGHT) */
    
    --weight-regular: 400; /* Texto normal do dia a dia (magro) */
    --weight-medium: 500;  /* Para dar um pequeno destaque (ex: "cachorro - 7 meses") */
    --weight-bold: 700;    /* Para títulos que precisam chamar atenção (Grosso) */

    /* ESPAÇAMENTOS (PADDING / MARGIN) Para manter a página respirando e organizada */

    --espaco-interno-card: #; 
    --espaco-entre-cards: #;  
    --espaco-entre-secoes: #; 

    /* SOMBRAS (BOX SHADOW) Para dar o efeito de relevo nos blocos brancos */

    --sombra-suave: 0px 4px 12px rgba(0, 0, 0, 0.08);
    --sombra-card-horizontal: 0px 2px 6px rgba(0, 0, 0, 0.04);
}

:root {
    /* Cores do Gradiente dos Cards Quadrados Inferiores */
    --fundo-gradiente-inicio: #F5C943; 
    --fundo-gradiente-fim: #FFFFFF;   
    
    /* Borda sutil  */
    --cor-borda-gradiente: #61442B;
}
